SECRET_KEY=some$Compl1cated$ecretKey!
SERVERNAMES=localhost,127.0.0.1,*
DEBUG=True
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name
DB_USER=postgre_user
DB_PASSWORD=pa$$word4u$er!
DB_HOST=db_host_name
DB_PORT=5432